@model TatilSeyahatSitesi.Models.Siniflar.Hakkimizda 
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkimizda Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>Foto Url</th>
        <th>Aciklama</th>
        <th>#</th>
        <th>#</th>

    </tr>
    <tr>
        <td><img src="@Model.PhotoUrl" alt="Alternate Text" width="65px" /></td>
        <td><p>@Model.Aciklama</p></td>
        <td><a href="#" class="btn btn-warning">Güncelle</a></td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
    </tr>

</table>





