
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}



<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/web/images/about_banner.jpg" alt="" width="100%" height="350px"/>
            <p>
                “Önümüzdeki yolculuğun bir sonu olduğunu bilmek güzel. Nihayetinde önemli olan, yolculuğun kendisi” demiş Ursula K. Le Guin. Bu sözü benimseyip yolda yaşadığı birbirinden ilginç deneyimi yazıya döken 17 seyahat bloggerına en sevdiği yeri, kaç ülke gezdiğini ve en sevdiği yazısını sorduk; ilham verici yanıtlar aldık.

                Her paylaştıklarıyla bize ilham olan bu gezginlerin seyahatlerinin bir parçası ol ve bir sonraki seyahat planlarını yapmaya başla!
            </p>
        </div>
    </div>
</div>

