
@{
    ViewBag.Title = "BizeUlas";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}



<div class="container mb-4">

    <h2>İletişim</h2>

    <p>A lead generation form is an online form used to help businesses generate quality leads. It collects important lead contact details like emails, phone numbers, and addresses. Leads can then be tackled by your sales team, and quickly converted into paying customers! Just choose a free lead generation form below, customize it, and embed it in your website. You’ll then be free to start collecting leads online. All info is stored securely in your online Jotform account, and can be sent automatically to CRMs like HubSpot, Salesforce (also available on Salesforce AppExchange), or ActiveCampaign.</p>

    <h1> +90500 999 99 99</h1>


</div>