@model List<TatilSeyahatSitesi.Models.Siniflar.Otel>

@{
    ViewBag.Title = "Oteller";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="container">

    <div class="row">


        @foreach (var item in Model)
        {
            <div class="col-3 me-2 mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="@item.OtelImage" class="card-img-top" width="180px" height="186px"  >
                    <div class="card-body">
                        <h5 class="card-title">@item.OtelAdi</h5>
                        <p class="card-text">@item.OtelAciklama.Substring(0,10) ...</p>
                        <a href="/Rehber/OtelDetay/@item.ID/" class="btn btn-primary"> Ayrıntılar ...</a>
                    </div>
                </div>
            </div>
         }
  </div>
</div>